*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



.headingAndImage{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-inline: auto;
    background-color: black;
    text-justify: left;
    padding: 30px; 
}

#current-image-container{
    display: inline-block;
    overflow: hidden;
    object-fit:contain;
    
}

.explanation{
    text-align: left;
    color: #fff;
}


.heading{
    font-size: 34px;
    font-weight: 700;
    text-align: left;
    color: #fff;
    padding: 30px 0 30px 0;
}

.search-form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    max-width: 1200px;
    margin-inline: auto;
    gap: 50px;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    color: #333;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    cursor: pointer;
}

li:hover {
    text-decoration: underline;
}


@media screen and (max-width : 1136px)  {
    .headingAndImage, .search-form-container{  
        max-width: 800px;  
    }

}   
